
    <div class='row'>
        <div *ngIf="!isLoginPage">
            <div class='col-sm-3' >
                <nav-menu></nav-menu>
            </div>
            <div class='col-sm-9 body-content'>
                <router-outlet></router-outlet>
            </div>
        </div>
        <div *ngIf="isLoginPage">

            <div class='col-sm-0'>
               
            </div>
            <div class='col-sm-12 body-content'>
                <router-outlet></router-outlet>
            </div>
        </div>
      
    </div>


